//Variables

$theme-success: #6dba72;
$theme-primary: #2C3E50;

$base-color: #fff;
$base-color2: #000;

//defin text colors
$text: #74808a;
$heading: #374054;

//define background colors
$background-alt: #f2f2f5;

//define border colors
$border: #dcd9d9;